@tailwind base;
@tailwind components;
@tailwind utilities;


/* GROTESK FONT */
.space-grotesk-font {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* INTER FONT */
.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter-font-light {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-font-bold {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* IBM FONT */
.ibm-plex-sans-hebrew-thin {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-hebrew-extralight {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-hebrew-light {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-hebrew-regular {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-hebrew-medium {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-hebrew-semibold {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-hebrew-bold {
    font-family: "IBM Plex Sans Hebrew", serif;
    font-weight: 700;
    font-style: normal;
  }
  